/* Color Palette            
  (Dark grey)
  #4c5c68(medium grey)
  #c5c3c6(light)
  #dcdcdd(off-white)
  #1985a1(blueish)
*/

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Open+Sans:wght@300;400;600&display=swap');


* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Gloock', serif;
  
  
}
.app  {
  margin: 0;
  padding: 0;
}


.container {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  border-style: none;
}





/* --------------------------------  Body CSS ---------------------------------------*/



.greetingDiv  {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  line-height: 30px;
  border-style: none;
  
  
}

.content  {
    background-color: #ffffff;
    align-items: center;
    color: #2c2c2c;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow: hidden;
    border-style: none;
    padding: 100px;
    width: 100%;
    height: 100vh;
    line-height: 40px;
    letter-spacing: 1px;
    opacity: 90%;
    
}

.bigGreeting  {
  height: auto;
  font-size: 50px;
  font-weight: 300;
  padding-bottom: 12px;
}

.skillsDiv  {
  height: 100vh;
  width: 100%;
  border-style: hidden;
  background-color:#161516 ;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1%;
}

.skillListDiv {

  display: flex;
  flex-direction: row;
  gap: 50%;
  width: 50%;
}

.skillList  {
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex-wrap: wrap;
  list-style-type:  none;
  margin: 5px;
}

.skillList2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style-type:  none;
  margin: 5px;
}

li {
  margin: 10px;
}

.skillsTitle {
  margin: 10px;
}

/* -------------------------------- CSS for center contact btn---------------------------------------*/

.centerContactButtonDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  margin: 2%;
  
}

.centerContactBtn  {
  position: relative;
  width: 190px;
  height: 60px;
  line-height: 48px;
  background: #000;
  text-transform: uppercase;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: 0.5s;

  -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
}

.centerContactBtn span  {
  position: absolute;
  display: block;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  text-align: center;
  background: #0c0c0c;
  color: #D8A31A;
  transition: 0.5s;
}

.centerContactBtn:hover span {
  color: rgba(255, 255, 255, 1);  
}

.centerContactBtn span::before  {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: rgba(255, 255, 255, 0.1);
  z-index: 10;
}

.centerContactBtn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    #c0392b,
    #f39c12,
    #f1c40f,
    #2ecc71,
    #3498db,
    #2980b9,
    #9b59b6,
    #8e44ad,
    #c0392b,
    #f39c12,
    #f1c40f,
    #2ecc71,
    #3498db,
    #2980b9,
    #9b59b6,
    #8e44ad
  );
  background-size: 400%;
  opacity: 0;
  transition: 2.5s;
  animation: eff 20s linear infinite;
}

.centerContactBtn:hover::before,
.centerContactBtn:hover::after {
  opacity: 1;
}

.centerContactBtn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    #c0392b,
    #f39c12,
    #f1c40f,
    #2ecc71,
    #3498db,
    #2980b9,
    #9b59b6,
    #8e44ad,
    #c0392b,
    #f39c12,
    #f1c40f,
    #2ecc71,
    #3498db,
    #2980b9,
    #9b59b6,
    #8e44ad
  );
  background-size: 400%;
  opacity: 0;
  filter: blur(20px);
  transition: 0.5s;
  animation: eff 20s ease infinite;
}


@keyframes eff {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}



/* --------------------------------  Nav bar CSS ---------------------------------------*/
.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-style: none;
  background-color: #10100f;

  padding: 30px 10%;
  height: 100px;

}


.navBarButtonDiv {
  padding: 10px;
}



.navLinks li a {
  font-weight: 400;
  font-size: 16px;
  color: #f5f6f8;
  text-decoration: none;

}

.navLogo  {
  cursor: pointer;
}

.navLinks {
  list-style: none;
}

.navLinks li  {
  display: inline-block;
  padding: 0 20px;
}

.navLinks li a {
  transition: all 0.3 ease 0s;
}

.navLinks li a:hover {
  color: #1985a1;

}

/*----------------------------------------- Header CSS ---------------------------------------------*/

.nameDiv {
  position: relative;
  height: 200px;
  left: 70px;
  top: 60px;
  margin: 2%;

}


.name {
  color: rgb(0, 0, 0);
  
}

/*----------------------------------------- Contact CSS ---------------------------------------------*/

.ContactDiv {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 1%;
  border-style: none;
  background-color: #ffffff ;
  color: rgb(9, 9, 9);
  margin-bottom: 30px;
  

}

.contact-header {
  text-align: center;
}

.contactForm {
  padding: 20px;
  padding-top: 40px;
  background-color: #46494c;
  color: #000;
  border-style: solid;
  border-color: rgba(189, 182, 182, 0.754);
  border-radius: 2%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr) 3fr 1fr;
  width: 32%;
  height: 80%;
  
}

#firstName  {
  height: 55%;
  grid-column-start: 1;
  grid-column-end: 3;
}

#lastName   {
  height: 55%;
  grid-column-start: 3;
  grid-column-end: 5;
}

#emailInput {
  height: 55%;
  height: 55%;
  width: 98%;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
}

#companyName  {
  height: 55%;
  width: 98%;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
}



#description  {
  margin: 15px;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 4;
}

#contactButton  {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 5;
}

.contactButton  {
  height: 35%;
  margin: 15px;
  width: 90%;
}


input {
  width: 96%;
  margin: 1%;


}


/*----------------------------------------- Footer CSS ---------------------------------------------*/

.footer { 
  background-color: #0d0c0e ;
  height: 80px;
  width: 100%;
}




