* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Lato', 'Arial', sans-serif;
  
}


.container {
  background-color: #bdb2b29e;
  height: 100%;
}




/* --------------------------------  Body CSS ---------------------------------------*/

.content  {
    background-color: #fff;
    color: #2c2c2c;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    border-style: solid;
    padding: 200px;
    margin-left: 2%;
    width: 47%;
    left: 10%;
    
}

.bigGreeting  {
  height: auto;
  font-size: 50px;
}

.skillsDiv  {
  height: 350px;
  width: 60%;
  border-style: dotted;
  margin: 2%;
  background-color:rgba(212, 49, 49, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1%;
}

.skillListDiv {
  display: flex;
  flex-direction: row;
  gap: 50%;
  width: 50%;
}

.skillList  {
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex-wrap: wrap;
  list-style-type:  none;
  margin: 5px;
}

.skillList2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style-type:  none;
  margin: 5px;
}

li {
  margin: 10px;
}

.skillsTitle {
  margin: 10px;
}


.resumePortfolioButtons {
  height: 70px;
  margin: 2%
}

/* -------------------------------- This is the Nav bar CSS ---------------------------------------*/
.navBar {
  display: flex;
  flex-direction: row;
  border-style: double;
  height: 70px;
  gap: 790px;
  background-color: #3d3b3bd5;


}

.navBarButtonDiv {
  display: flex;
  flex-direction: row;
  align-items: top;
  padding: 10px;
  gap: 50px;


}

.navBarButtons  {
  padding: 5px;
  margin: 1%;
}



/*----------------------------------------- Header CSS ---------------------------------------------*/

.nameDiv {
  position: relative;
  height: 200px;
  left: 70px;
  top: 60px;
  margin: 2%

}


.name {
  color: rgb(0, 0, 0);
  
}

/*----------------------------------------- Contact CSS ---------------------------------------------*/

.ContactDiv {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 60%;
  height: 300px;
  margin: 2%;
  border-style: dotted;
  background-color: rgba(212, 49, 49, 0.85);
  

}

.contactForm {
  padding: 3px;
  background-color: #787474;
  border-style: dotted;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: 80%;
}

.contactButton  {
  margin: 15px;
  width: 25%;
}


input {
  width: 50%;
  margin: 5px;
}


/*----------------------------------------- Footer CSS ---------------------------------------------*/

.footer {
  margin: 1% ;
  background-color: #3d3b3bd5;
  height: 80px;
  width: 100%;
}




